{% extends 'base.html.twig' %}

{% block title %}{{parent()}}-Frikyland{% endblock %}

{% block body %}
    {{parent()}}
    {{form(form)}}

    {{dump(posts)}}
    <table>
      <thead>
        <tr>
          <td>id</td>
          <td>title</td>
          <td>description</td>
          <td>creation  date</td>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
            <tr>
              <td>{{post.id}}</td>
              <td>{{post.title}}</td>
              <td>{{post.description}}</td>
              <td>{{post.creation_date | date}}</td>
            </tr>

        {% endfor  %}
      </tbody>
    </table>    
 
  {# {{dump(custom_post)}} #}
  {# {{dump(posts)}}
  {{dump(search)}}
  {{dump(oneBy)}} #}

{% endblock %}
