{% extends 'base.html.twig' %}

{% block title %}{{parent()}}-Frikyland{% endblock %}

{% block body %}
    {{parent()}}
    {{form(form)}}

    
    <table class="table table-dark table-striped aling-center">
      <thead>
        <tr>
          <td class="table-dark">id</td>
          <td>title</td>
          <td>description</td>
          <td>creation  date</td>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
            <tr>
              <td><a href="{{ path('postDetails', {id:post.id})}}">Ver</a></td>
              <td>{{post.title}}</td>
              <td>{{post.description}}</td>
              <td>{{post.creation_date | date}}</td>
              <td>{{post.file }}</td>
            </tr>

        {% endfor  %}
      </tbody>
    </table>    
 
  {# {{dump(posts)}} #}
  {# {{dump(custom_post)}} #}
  {# {{dump(posts)}}
  {{dump(search)}}
  {{dump(oneBy)}} #}

{% endblock %}
